@charset "utf-8";
/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6,ul,ol,dd{ margin:0; padding:0; font-size:12px;}
li{ list-style:none;}
a{ text-decoration:none; color:#666;}
img{ vertical-align:top; border:none;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}

