@charset "utf-8";
/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6,ul,ol,dd{ margin:0; padding:0; font-size:12px;}
li{ list-style:none;}
a{ text-decoration:none; color:#666;}
img{ vertical-align:top; border:none;}
.clearfix:after{ content:''; display:block; clear:both;}
.w{ width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}
input,textarea{ border: none; outline: none; background: none;}
textarea{ resize: none;}
/*head*/
.head{ background:#f5f5f5; min-width:1200px; height:39px; border-bottom:1px solid #ccc;}
.in span{ height:17px; border-left:1px dotted #ccc; margin:11px 16px 10px;}
.in a{ line-height:39px; font-size:12px;}
.in a:hover{ color: #ff6699;}
.in .xia{ background:url(img/bg1.png) no-repeat left; padding-left:18px;}
.in .ji{ background:url(img/bg2.png) no-repeat left; padding-left:22px;}
.in .q{ background:url(img/bg3.png) no-repeat left; padding-left:22px;}
.in .wei{ background:url(img/bg4.png) no-repeat left; padding-left:20px;}
/*logo,search*/
.logo{ margin-top:15px; margin-bottom:15px;}
.logo a{ background:url(img/logo.png); width:106px; height:36px; display:block; text-indent:-7777px;}
.search{ margin-top:17px;}
.search .bar{ border: 2px solid #ff6699; position: relative; height: 30px;}
.bar .baby{ width:69px; height: 30px; text-align: center; line-height: 30px; font-size: 12px; color: #666; border-right:1px solid #e6e6e6;
    background: #f5f5f5; cursor: pointer;  }
.bar .inp1{ width:300px; line-height: 30px; padding-left:27px; color: #c8c8c8;}
.bar .i2{ width: 5px; height: 3px; background:url("img/bg11.png"); position: absolute; left: 56px; top: 15px;}
.bar .i1{ width: 15px; height:14px; background:url("img/bg10.png"); position: absolute; left: 79px; top: 9px;}
.bar .but{ width:90px; background: #ff6699; color: #fff; line-height: 30px; text-align: center; cursor: pointer;}
#ul1{ width:69px; position: absolute; top: 30px; left: 2px; background: #fff; z-index: 2; }
#ul1 li{ height: 30px; line-height: 30px; text-align: center;display: none; cursor: pointer;}
.search .ding{ width:98px; line-height:30px; background:#f5f5f5; border:1px solid #e6e6e6; margin-left:10px;}
.ding span{ width:13px; height:15px; background:url(img/sprite1.png) -223px -45px; float:left; margin:7px 6px 0 8px;}
.search .shopcar{ width:98px; line-height:30px; background:#f5f5f5; border:1px solid #e6e6e6; margin-left:180px;}
.shopcar span{ width:17px; height:13px; background:url(img/sprite1.png) -192px -45px; float:left; margin:7px 5px 0 8px;}
.ding a:hover,.shopcar a:hover{ color: #f69;}
/*nav*/
.nav{ background:#ff6599; min-width:1074px; height:40px;}
.nav .d1{ position: relative;}
.nav .d1 a{ line-height:40px; color:#fff; font-size:14px; padding:0 15px;}
.nav .d1 .aa{ margin-left:126px;}
.nav .d1 a:hover{ background:#ed3577; color: #fff;}
.d1 .s1{ width:0; border:3px solid transparent; border-top:3px solid #fff; float:right; margin-top:19px; margin-left:7px;}
.d1 .img1{ float:right; margin-top:12px; margin-left:4px;}
#ul2{ width: 70px; border: 1px solid #f69; border-top: none; position: absolute; top: 40px; left: 269px; background: #fff; display: none;}
#ul2 li{ height: 40px; line-height: 40px; background: #fff; text-align: center; display: none;}
#ul2 li a{ color: #f69;}
/*大导航*/
.bei{ background:#fd5d89; min-width:1200px; height:418px;}
.u1{ width:238px; height:572px; border:1px solid #e6e6e6; background:#fff;}
.u1 li{ padding-left:20px; padding-top:12px; padding-right:20px; position:relative;}
.u1 h3{ font-size:16px; color:#ff6699; background:url(img/hot.png) no-repeat left; padding-left:23px;}
.d3{ border-bottom:1px dotted #ccc; margin-top:5px; padding-top:6px;}
.d3 a{ float:left; margin-right:15px; line-height:24px;}
.d3 .a1{ color:#f69;}
.u1 .last{ border-bottom:none;}
.u1 li .img2{ position:absolute; right:16px; top:52px;}
.d2 .img10{ margin-top:10px; margin-left:10px;}
#div1{position: relative;}
#ul3{position: absolute; top:0; left:0;}
#ul3 li{ float: left;}
/*人气单品*/
.d4{ margin-top:156px;}
.d4 .s2{ width:157px; height:26px; background:url(img/sprite2.png) no-repeat; margin-top:22px;}
/*tui*/
.d5{ border-top:1px solid #e6e6e6; margin-top:6px; overflow:hidden;}
.d5 ul{ margin-right:-25px;}
.d5 .la{ margin-top:15px; margin-right:24px;}
.d6 p{ line-height:38px;}
.d6 .p1 a{ color:#000;}
.d6 .p2 span{ line-height:36px; font-family:'微软雅黑';}
.d6 .p2 .s3{ color:#f6a;}
.d6 .p2 .s4{ font-size:9px; margin-left:8px; text-decoration:line-through; color:#999;}
.d6 .s5{ width:179px; height:1px; border-top:1px dotted #ccc; display:block;}
.d6 .p3{ line-height:32px; color:#999;}
/*超值*/
.d7 span{ width:157px; height:23px; background:url(img/sprite2.png) no-repeat 0 -240px; margin-top:13px;}
.d7 a{ line-height:43px;}
/*大图*/
.d8{ padding-top:8px; margin-bottom:6px;}
/*yifu*/
.d9 .d10 .s6{ width:77px; height:22px; background:url(img/sprite2.png) no-repeat 0 -44px; margin-top:14px;}
.d9 .d10 .s7{ height:15px; border:1px dotted #ccc; margin:20px 10px 0;}
.d9 .d10 .s8{ line-height:38px; margin-top:8px;}
.d9 a{ line-height:45px;}
/*copy*/
.d11{ border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.d11 .d12{ width:940px;}
.d11 .d12 .u2{ padding-top:14px;}
.d12 .l1{ width:180px; height:254px; position:relative; margin-right:5px; margin-top:5px;}
.d12 .a2 .img16{ width:180px; height:254px;}
.d12 .d12a{ background:url(img/bar_bg.png) no-repeat; position:absolute; left:0; bottom:0; width:180px; height:30px;}
.d12 .l1 .p4{ position:absolute; left:0; bottom:0; width:180px; text-align:center;}
.d12 .l1 .p4 a{ line-height:30px; font-size:14px; color:#fff;}
.d11 .d12 .l2 h3{ font-size:16px; color:#f69; line-height:76px; margin-left:12px;}
.d11 .d12 .l2 .d13{ padding-top:16px; width:240px; margin-left:16px; margin-right:10px;}
.d11 .d12 .l2 .d13 a{ line-height:22px; padding-right:10px;}
.d11 .d12 .l2 .s9{ float:left; height:44px; border:1px dotted #ccc; margin-top:18px;}
.d11 .d14{ width:259px; border-left:1px solid #ccc; padding-top:4px;}
.d11 .d14 .l3{ margin-left:20px;}
.d11 .d14 .l3 h3{ float:left; font-size:16px; margin-top:16px; margin-bottom:2px;}
.d11 .d14 .l3 .s10{ float:right; line-height:50px;}
.d11 .d14 .l3 .s10 a{ font-size:14px;}
.d11 .d14 .d14a{ float:left; margin-top:14px;}
.d11 .d14 .d14a .img17{  margin-right:12px;}
.d14 .d14a .d14b .p5{ line-height:12px;  font-size:9px;}
.d11 .d14 .d14a .d14b .p6{ line-height:32px;}
.d14 .s11{ width:239px; border:1px dotted #ccc; margin-top:3px;}
/*xiezi*/
.d15 .d16 .s6{ width:78px; height:24px; background:url(img/sprite2.png) no-repeat 0 -82px; margin-top:14px;}
.d15 .d16 .s7{ height:15px; border:1px dotted #ccc; margin:20px 10px 0;}
.d15 .d16 .s8{ line-height:38px; margin-top:8px;}
.d15 a{ line-height:45px;}
/*bao*/
.d17 .d18 .s6{ width:78px; height:24px; background:url(img/sprite2.png) no-repeat 0 -120px; margin-top:14px;}
.d17 .d18 .s7{ height:15px; border:1px dotted #ccc; margin:20px 10px 0;}
.d17 .d18 .s8{ line-height:38px; margin-top:8px;}
.d17 a{ line-height:45px;}
/*佩饰*/
.d19 .d20 .s6{ width:78px; height:24px; background:url(img/sprite2.png) no-repeat 0 -158px; margin-top:14px;}
.d19 .d20 .s7{ height:15px; border:1px dotted #ccc; margin:20px 10px 0;}
.d19 .d20 .s8{ line-height:38px; margin-top:8px;}
.d19 a{ line-height:45px;}
/*杂志*/
.d21 .d22 .s6{ width:116px; height:24px; background:url(img/sprite2.png) no-repeat 0 -201px; margin-top:14px;}
.d21 a{ line-height:54px;}
.d21 .d23 .s12{ height:15px; border:1px dotted #ccc; margin:21px 18px 0 14px;}
/*remen*/
.d24{ overflow:hidden;}
.d24 ul{ margin-right:-15px;}
.d24 .l4{ width:200px; height:282px; border:1px solid #ccc; padding-left:13px; padding-right:12px; margin-right:15px; margin-bottom:20px;}
.d24 .l4 h3{ line-height:36px; float:left; font-size:16px;}
.d24 .l4 a{ float:left; line-height:44px;}
.d24 .l4 .s13{ float:right; width:64px; background:#f69; margin-top:12px; text-align:center;}
.d24 .l4 .s13 a{ line-height:20px; color:#fff; margin-left:14px;}
/*foot*/
.foot{ min-width:1200px; border-top:1px solid #ccc; background:#f5f5f5; margin-top:14px;}
.foot .d25 .s14{ width:35px; height:35px; background:url(img/sprite1.png) no-repeat 0 -114px; margin-right:14px; margin-top:34px;}
.foot .d25 .d25a{ margin-top:30px;}
.foot .d25 .d25a p{ line-height:24px;}
.foot .d25 .d25a .p1{ font-size:14px;}
.foot .d25 dl{ margin-left:55px; margin-top:20px;}
.foot .d25 dl dt{ font-size:16px; line-height:28px;}
.foot .d25 dl dd{ line-height:26px;}
.foot .d25 dl .dd1{ padding-left:21px; background:url(img/bg4.png) no-repeat left;}
.foot .d25 dl .dd2{ padding-left:21px; background:url(img/bg8.png) no-repeat left;}
.foot .d25 dl .dd3{ padding-left:21px; background:url(img/bg7.png) no-repeat left;}
.foot .d25 .d25b{ margin-left:56px; margin-top:12px;}
.foot .d25 .d25b h3{ line-height:52px; font-size:16px;}
.foot .d25 .d25c{ margin-left:56px; margin-top:12px;}
.foot .d25 .d25c h3{ line-height:52px; font-size:16px;}
.foot .d26{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding-top:6px;}
.foot .d26 a{ float:left; line-height:24px; margin-left:12px;}
.foot .d26 .ar{ float:right;}
.foot .last{ padding-top:16px;}
.foot .last p{ line-height:22px;}
/*云*/
.yun{ width:245px; height:58px; position:fixed; top:50%; right:0; margin-top:-29px; background:url(img/sprite1.png) 0 -572px;}
